.card-character-contents-exp {
  .foldable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    user-select: none;
    cursor: pointer;

    .title {
      font-size: 16px;
      font-weight: 600;
    }

    &:hover {
      background: var(--background-light);
      border-radius: 8px;
    }
  }

  .content {
    background: var(--background-light);
    padding: 8px;
    border-radius: 8px;
  }

  .content-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 8px;
    column-gap: 24px;
  }

  .content-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .key {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .value {
      display: flex;
      align-items: center;
    }

    img {
      width: 24px;
    }
  }

  @media (max-width: 767px) {
    font-size: 13px;

    .content-body {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}