.card-character-contents-exp {
  user-select: none;

  .badge-boyak {
    border-radius: 24px;
    padding: 0 8px;
    font-size: 12px;
    background: var(--epic);
    color: var(--white);
    backdrop-filter: blur(8px);
    white-space: nowrap;
  }

  .foldable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;

    .title {
      font-size: 16px;
      font-weight: 600;
    }

    &:hover {
      background: var(--background-light);
      border-radius: 8px;
    }
  }

  .content {
    background: var(--background-light);
    padding: 8px;
    border-radius: 8px;
  }

  .content-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .content-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .key {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    img {
      width: 24px;
    }
  }

  @media (max-width: 767px) {
    font-size: 13px;
  }
}