.card-character-info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .panel-basic {
    .image-container {
      width: 96px;
      height: 96px;
      flex: 0 0 auto;
    }
  
    .basic-info {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  .basic-details {
    font-size: 13px;
    display: flex;
    flex: 1;

    .key {
      font-size: 12px;
      color: var(--text-light);
      flex: 0 0 auto;
      width: 64px;
    }

    > div {
      flex: 1 1 0;
    }
  }

  @media (max-width: 479px) {
    .basic-details {
      flex-direction: column;
    }
  }
}