.card-character-info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .panel-basic {
    .image-container {
      width: 96px;
      height: 96px;
      flex: 0 0 auto;
    }
  
    .basic-info {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
  
  .exp-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    height: 20px;
    border: 1px solid var(--border-light);

    .exp-fill {
      background: rgba(64, 192, 64, 0.95);
    }
  
    .exp-text {
      color: var(--white);
      font-size: 12px;
      z-index: 1;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  .basic-details {
    font-size: 13px;
    display: flex;
    flex: 1;

    .key {
      font-size: 12px;
      color: var(--text-light);
      flex: 0 0 auto;
      width: 64px;
    }

    > div {
      flex: 1 1 0;
    }
  }

  @media (max-width: 479px) {
    .basic-details {
      flex-direction: column;
    }
  }
}