.stored-characters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

  .stored-character {
    font-size: 12px;
    padding: 16px;
    border-radius: 8px;
    transition: all 0.2s ease;
    cursor: pointer;

    img {
      border-radius: 50%;
    }

    &:hover {
      background: var(--background-light);
    }
  }
}