.stored-characters {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .stored-character {
    font-size: 12px;
    padding: 16px;
    border-radius: 8px;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    gap: 8px;
    user-select: none;
    position: relative;
    cursor: pointer;

    img {
      border-radius: 50%;
      background: rgba(64, 64, 64, 0.25);
      width: 96px;
      height: 96px;
      object-fit: none;
      object-position: center;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &:hover {
      background: var(--background-light);
    }
  }

  .fa-times {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 16px;
    color: var(--text-light);
    background: var(--background-light);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: var(--border-base);
    }
  }

  .empty {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    text-align: center;
    font-size: 24px;

    h1 {
      font-size: 48px;
      line-height: 1.2;
      font-weight: 700;
    }

    img {
      width: 240px;
    }
  }

  &.fixed {
    position: fixed;
    bottom: 16px;
    left: var(--app-default-page-padding);
    right: var(--app-default-page-padding);
    z-index: 2;
    pointer-events: none;

    .grid {
      display: flex;
      width: fit-content;
      margin: auto;
      gap: 8px;
      background: rgba(64, 64, 64, 0.8);
      padding: 8px 24px;
      border-radius: 48px;
      overflow-x: auto;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);

      .info,
      .fa-times,
      .exp-bar {
        display: none;
      }

      .stored-character {
        padding: 0;
        flex: 0 0 auto;
        pointer-events: auto;

        img {
          width: 48px;
          height: 48px;
          background: none;
        }
      }
    }
  }

  @media (max-width: 991px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 767px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}