// normalize

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*, *:active, *:hover {
  outline: none !important;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
p {
  padding: 0;
  margin: 0;
}

li {
  &.disc {
    list-style-type: disc;
  }

  &.decimal {
    list-style-type: decimal;
  }

  &.circle {
    list-style-type: circle;
  }

  &.square {
    list-style-type: square;
  }

  &.none {
    list-style-type: none;
  }
}

video {
  max-width: 100%;
  display: block;
}

button {
  margin: 0;
}

.default-font-family {
  font-family: 'Dotum', '돋움', 'Helvetica', 'Arial', sans-serif;
  // font-family: 'IBM Plex Sans KR', sans-serif;
}

body {
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
  transition: none;

  @extend .default-font-family;
}

:link,
:visited {
  color: var(--text-base);
}

input,
textarea,
button,
select {
  color: var(--text-base);
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

.shadowed {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.no-touch {
  pointer-events: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.no-scrollbar {
  &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background-color: rgba(0, 0, 0, 0);
  }
          
  &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0);
  }
}

.pretty-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.5);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--border-base);
    border-radius: 4px;
  }
}

u,
.ul-on-hover:hover {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

.f-italic {
  font-style: italic;
}

.f-mono {
  font-family: Arial, Helvetica, sans-serif;
}

.f-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

img {
  max-width: 100%;
}