.app-skeleton {
  border-radius: 8px;
  min-width: 20px;
  min-height: 20px;
  background: var(--background-light);
  position: relative;
  overflow: hidden;

  .bar {
    height: 100%;
    width: 20px;
    background: var(--border-base);
    filter: blur(16px);
  }

  .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: skeleton 2s infinite ease-in-out;
  }

  @keyframes skeleton {
    0% {
      transform: translateX(-50%);
    }

    50% {
      transform: translateX(50%);
    }

    100% {
      transform: translateX(150%);
    }
  }
}

.card {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--border-base);
}

.badge-bordered {
  border: 1px solid var(--border-base);
  border-radius: 24px;
  padding: 2px 6px;
  font-size: 12px;
}

.badge-fill {
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 12px;
}