textarea {
  resize: none;
}

input,
textarea {
  border: 1px solid var(--border-base);
  border-radius: 4px;
  padding: var(--dropdown-padding);
  transition: none;
  font-size: 14px;

  &:not([type=radio]):not([type=checkbox]) {
    width: 100%;
  }

  &::placeholder {
    color: var(--gs-88);
  }
}

.form-control {
  label {
    display: block;
    margin-bottom: 8px;
  }
}

.input-wrapper,
.textarea-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--border-base);
  border-radius: 4px;
  padding: 0 var(--dropdown-padding);

  .prefix,
  .suffix,
  i {
    white-space: nowrap;
    color: var(--border-base);
  }

  &.focus,
  &.active {
    border: 1px solid var(--text-base);
  }

  input,
  textarea {
    padding: var(--dropdown-padding) 0;
    border: 0;
    background: none;

    &:focus,
    &:active {
      border: 0;
    }
  }
}

body.theme-dark {
  input,
  textarea,
  select {
    color: var(--text-base);
    background: var(--background-light);
  }

  .input-wrapper,
  .textarea-wrapper {
    input,
    textarea {
      background: none;
    }
  }
}