.input-wrapper,
.textarea-wrapper {
  border: 1px solid var(--border-base);

  &.focus,
  &.active {
    border: 1px solid var(--text-stress);
  }

  input,
  textarea {
    padding: 0;
    border: 0;
    background: none;

    &:focus,
    &:active {
      border: 0;
    }
  }
}

textarea {
  resize: none;
}

input,
textarea {
  border: 1px solid var(--border-base);
  padding: 8px;
  transition: none;
  font-size: 14px;

  &:not([type=radio]):not([type=checkbox]) {
    width: 100%;
  }

  &::placeholder {
    color: var(--gs-88);
  }
}

.form-control {
  label {
    display: block;
    margin-bottom: 8px;
  }
}

body.theme-dark {
  input,
  textarea,
  select {
    color: var(--text-stress);
    background: var(--background-light);
  }

  .input-wrapper,
  .textarea-wrapper {
    input,
    textarea {
      background: none;
    }
  }
}