@use 'variables';
@use 'animation';
@use 'base';
@use 'button';
@use 'components';
@use 'font-awesome';
@use 'form';
@use 'flex';
@use 'generics';
@use 'modals';
@use 'text';

.layout-centered {
  max-width: var(--app-max-width);
  margin: auto;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}