.text-left      { text-align: left; }
.text-right     { text-align: right; }
.text-center    { text-align: center; }
.text-nowrap    { white-space: nowrap; }
.text-underline { text-decoration: underline; }

.pre-wrap { white-space: pre-wrap; }
.pre-line { white-space: pre-line; }

.lines-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lines-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.lines-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}