.app-footer {
  background: var(--background-light);
  font-size: 12px;

  .layout-centered {
    padding: 40px var(--app-default-page-padding);
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .bottom {
    display: flex;
    gap: 24px;
  }

  .contacts {
    display: flex;
    justify-content: flex-end;

    a {
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: underline;
      }

      &:not(:last-child) {
        &::after {
          width: 1px;
          display: block;
          height: 12px;
          background: var(--text-light);
          margin: 0 8px;
          content: '';
        }
      }
    }
  }
}