.panel-ability {
  .c-ability {
    color: var(--white);
    font-size: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
  
    .ability-row {
      border-radius: 4px;
      padding: 0 8px;
    }
  }
}