.app-nav {
  width: var(--app-nav-width);
  background: var(--background-base);
  padding: var(--app-default-page-padding);
  min-height: calc(100svh - var(--app-header-height));
  border-right: 1px solid var(--border-base);
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: sticky;
  top: 0;
  height: 100svh;

  .pages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  }

  a {
    display: table;
    padding: 4px 8px;
    border-radius: 4px;

    &.selected,
    &:hover {
      background: var(--background-light);
    }
  }

  .profile {
    font-size: 13px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24);
  }

  @media (max-width: 767px) {
    position: fixed;
    z-index: 1;
  }

  @media (min-width: 1200px) {
    left: calc(50% - var(--app-max-width) / 2);
  }
}

.app-nav-overlay {
  @media (max-width: 767px) {
    position: fixed;
    top: var(--app-header-height);
    right: 0;
    bottom: 0;
    left: var(--app-nav-width);
    background: rgba(0, 0, 0, 0.24);
    z-index: 1;
  }
}